.arrow-button-container {
  width: 20px;
  height: 20px;
  padding: 8px;
  background-color: rgba(#000000, 0.2);
  border-radius: 50%;
  box-sizing: content-box;
  z-index: 1000;

  cursor: pointer;

  &.orient-left {
    transform: rotate(180deg);
  }

  path {
    fill: white;
  }
}
