@import 'src/styles/constants.scss';

button.button,
a.button {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 20px;
  padding: 18px 20px;
  min-width: 150px;

  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;

  color: #00000099;
  background-color: $ezac-bright-yellow;
  border: none;
  border-radius: 5px;

  box-shadow: 0 4px 0 #c1a100;

  cursor: pointer;

  &.secondary {
    color: white;
    background-color: $ezac-pale-blue;
    box-shadow: 0 4px 0 darken($ezac-pale-blue, 8);

    &:hover,
    &:active {
      background-color: lighten($ezac-pale-blue, 10);
    }
  }

  &.white {
    color: $ezac-dark-navy;
    background-color: white;
    box-shadow: 0 4px 0 lighten($ezac-dark-navy, 10);

    &:hover,
    &:active {
      background-color: lighten($ezac-pale-blue, 10);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:active {
      top: 0;
      box-shadow: 0 4px 0 #c1a100;
      ;
    }
  }

  &:hover,
  &:active {
    background-color: lighten($ezac-bright-yellow, 10);
  }

  &:active {
    top: 4px;
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }

  transition: all 0.1s ease-in-out;
}

a.button {
  display: block;
  width: fit-content;

  &:hover {
    color: black;

    &:link,
    &:visited {
      color: black;
    }
  }

  &:link {
    color: #00000099;
  }

  &:visited {
    color: #00000099;
  }
}