@import 'src/styles/constants.scss';

button.button, a.button {
  margin-top: 20px;
  padding: 10px 10px;

  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;

  color: white;
  background-color: transparent;

  border: 2px solid white;
  border-radius: 5px;

  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover, &:active {
      color: unset;
      background-color: unset;
    }
  }

  &:hover, &:active {
    background-color: white;
    color: black;
  }

  &:focus {
    outline: none;
  }

  &.light {
    color: black;
    background-color: transparent;

    border: 2px solid black;
    border-radius: 5px;

    &:hover, &:active {
      background-color: black;
      color: white;
    }
  }

  transition: all 0.3s ease-in-out;
}

a.button {
  color: white;
  display: block;
  width: fit-content;

  &:hover {
    color: black;

    &:link, &:visited {
      color: black;
    }
  }

  &:link {
    color: white;
  }

  &:visited {
    color: white;
  }
}
