@import 'src/styles/constants.scss';

.hero-container {
  padding: 0;
  background-color: #314B77;
  overflow: hidden;

  @media only screen and (min-width: 800px) {
    padding: 20px;
    border-radius: 20px;
    max-width: 1080px;
    margin: 80px auto 20px auto;
  }

  .video-container {
    width: 100%;
    overflow: hidden;
    /* Keep it the right aspect-ratio */
    aspect-ratio: 16/9;
    /* No clicking/hover effects */
    pointer-events: none;

    iframe {
      /* Extend it beyond the viewport... */
      width: 300%;
      height: 100%;
      /* ...and bring it back again */
      margin-left: -100%;
    }
  }
}