@import 'src/styles/constants.scss';
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  &::selection {
    color: #5d4e00;
    background: #FFF1A7;
  }
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: black;
  scroll-behavior: smooth;

}

a {
  position: relative;
  text-decoration: none;
  font-weight: 900;

  &:link {
    color: $link-color;
  }

  &:visited {
    color: lighten($link-color, 30%);
  }

  &:hover {
    color: darken($link-color, 10%);
  }
}

h1 {
  margin: 30px 0;
  font-size: 64px;
  font-weight: 900;
  line-height: 60px;

  color: $ezac-dark-blue;
}

h2 {
  display: block;
  width: max-content;
  position: relative;
  margin: 30px 0 50px 0;
  font-size: 30px;
  font-weight: 900;
  z-index: 0;

  color: $ezac-dark-blue;

  // The yellow strip underneath the title is described here
  &:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: -7px;
    z-index: -1;

    width: 80%;
    height: 12px;
    border-radius: 12px;
    background-color: $ezac-bright-yellow;
  }
}

h3 {
  margin: 20px 0;
  font-size: 20px;
  color: $ezac-blue;
  font-weight: 400;
}

p {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 25px;
  color: $not-quite-black;

  strong {
    font-weight: 900;
  }
}

/* Forms
	 ========================================================================== */

form {
  &.dark {
    input,
    textarea,
    select {
      border: none;
      color: #333;
      background: white;

      &::placeholder {
        color: white;
      }
    }

    .floating-label-field {
      input+label {
        opacity: 1;
      }
    }
  }

  input,
  textarea {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #9dc4ff51;
    color: #3e506c;

    font-size: 16px;

    transition: border 0.2s ease-in-out;

    &:focus {
      border-width: 4px;
    }

    &::placeholder {
      color: #415c88;
    }
  }

  label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .floating-label-field {
    position: relative;

    &>* {
      transition: all 0.2s ease-in-out;
    }

    input {
      &::placeholder {
        opacity: 0;
      }

      &,
      &+label {
        font: inherit;
        line-height: normal;
        font-size: 16px;
        color: #415c88;
        cursor: text;
      }

      &+label {
        position: absolute;
        top: 18px;
        left: 17px;
      }

      &:focus,
      &:not(:placeholder-shown) {
        padding: 24px 16px 8px 16px;
      }

      &:focus+label,
      &:not(:placeholder-shown)+label {
        font-size: 10px;
        top: 11px;
      }
    }
  }
}

/* Low-Profile Scrollbar
   ========================================================================== */

html {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c8c8c8;
    border-radius: 8px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.01);
  }
}

/* Feedback banners
   ========================================================================== */

.message-bubble {
  padding: 10px;
  width: fit-content;

  border-radius: 10px;
  border: 1px solid;

  background-color: $ezac-pale-blue;
  border-color: darken($ezac-pale-blue, 20%);
  color: darken($ezac-pale-blue, 60%);

  p {
    color: inherit;
  }

  &.success {
    background-color: $color-success;
    border-color: darken($color-success, 20%);
    color: darken($color-success, 60%);
  }

  &.fail {
    background-color: $color-fail;
    border-color: darken($color-fail, 40%);
    color: darken($color-fail, 50%);
  }
}