@import 'src/styles/constants.scss';

.frame-content {
  padding: 20px;
}

.glider-container {
  padding: 20px;
  width: 250px;
  margin-bottom: 20px;
  background-color: white;

  overflow: hidden;
  border-radius: 20px;

  box-shadow: $material-shadow-big;
}

.club-story-preview-block {
  transform: scale(75%);
  transform-origin: 0 0;
  width: 1180px;
  overflow: hidden;

  .floating-bubble {
    position: absolute;
    z-index: -1;

    &.image {
      position: unset;
    }

    @media only screen and (min-width: 800px) {
      &.image {
        position: absolute;
      }
    }
  }

  .wrapper {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;

    @media only screen and (min-width: 1100px) {
      padding: 0;
    }
  }

  .block {
    position: relative;
    width: 100%;
    padding: 40px 0;

    &.space-below {
      padding-bottom: 370px;
    }

    &.yellow {
      background-color: $ezac-pale-yellow;
    }

    &.blue {
      background-color: $ezac-pale-blue;
    }

    .wavy-pattern {
      display: none;
      position: absolute;
      top: -36vw;

      @media only screen and (min-width: 800px) {
        display: block;
        top: -34vw;
      }
    }

    .content {
      display: block;

      @media only screen and (min-width: 800px) {
        display: flex;
      }

      &.align-right {
        @media only screen and (min-width: 800px) {
          justify-content: flex-end;
        }
      }

      .story-block {
        position: relative;
        max-width: 370px;
        z-index: 2;

        &.dark {
          h3,
          p {
            color: #244059;
          }
        }

        h1 {
          font-size: 25px;
          text-transform: uppercase;
          color: white;
          font-weight: 900;
          line-height: 30px;
        }

        p {
          color: white;
          font-size: 14px;
          line-height: 26px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.price-container {
  position: relative;
  width: 230px;

  .bubble {
    position: absolute;
    z-index: -1;
  }

  .title {
    width: 100%;
    margin-top: 75px;
    text-align: center;

    h3.price-name {
      color: white;
    }
  }

  h3.price-name {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
  }

  .price {
    color: white;
    display: block;
    width: 100%;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
  }

  .feature-list {
    margin-top: 130px;
    text-align: center;

    .feature {
      display: flex;
      justify-content: center;

      i {
        margin-right: 10px;
        font-size: 16px;
        line-height: 20px;
      }

      p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
        color: $ezac-dark-blue;
      }
    }
  }
}

.flex-container {
  display: flex;
}
