.frame-content {
  padding: 20px;
}

.glider-container {
  padding: 20px;
  width: 250px;
  margin-bottom: 20px;
  background-color: white;

  overflow: hidden;
  border-radius: 20px;

  box-shadow: $material-shadow-big;
}
