.not-found-banner {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  padding: 200px 20px;
  max-width: 580px;

  @media only screen and (min-width: 800px) {
    flex-direction: row;
  }

  .text {
    max-width: 220px;

    h2 {
      overflow-wrap: break-word;
      width: unset;
    }

    p {
      font-weight: 400;
      color: #666;
      line-height: 28px;
    }
  }

  h3 {
    display: block;
    width: 100%;
    align-self: flex-start;
    font-size: 72px;
    font-weight: bold;

    @media only screen and (min-width: 800px) {
      text-align: center;
    }
  }
}