@import 'src/styles/constants.scss';

.top-title {
  text-align: center;

  h2 {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;

    &::after {
      width: 110%;
    }
  }

  p {
    font-size: 18px;
  }
}

.all-prices {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 60px;

  .price-container {
    position: relative;
    width: 230px;

    .bubble {
      position: absolute;
      z-index: -1;
    }

    .title {
      width: 100%;
      margin-top: 75px;
      text-align: center;

      h3.price-name {
        color: white;
      }
    }

    h3.price-name {
      margin-top: 0;
      margin-bottom: 10px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
    }

    .price {
      color: white;
      display: block;
      width: 100%;
      font-size: 38px;
      font-weight: bold;
      text-align: center;
    }

    .feature-list {
      margin-top: 130px;
      text-align: center;

      .feature {
        display: flex;
        justify-content: center;

        i {
          margin-right: 10px;
          font-size: 16px;
          line-height: 20px;
        }

        p {
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 20px;
          color: $ezac-dark-blue;
        }
      }
    }
  }
}

.additional-costs-grid {
  border: 2px solid #0000002b;
  border-radius: 10px;
  overflow: hidden;

  table {
    width: 100%;
  }

  th,
  td {
    padding: 20px 18px;
    text-align: left;
  }

  th {
    background-color: $ezac-blue;
    color: white;
    font-weight: bold;
    border-left: 2px solid #00000020;
  }

  tr:nth-child(even) {
    td {
      background-color: #fafafa;

      &.sidebar-item {
        background-color: $ezac-dark-blue;
      }
    }
  }

  td.sidebar-item,
  th.sidebar-item {
    display: block;
    background-color: $ezac-dark-blue;
    color: white;
    font-weight: bold;

    border-top: 2px solid #00000020;
  }
}