@import 'src/styles/constants.scss';

$menu-button-color: $ezac-dark-blue;

.site-header {
  padding: 0;
  width: 100vw;
  position: fixed;
  z-index: 1000;

  transition: 0.3s ease-in-out;

  &.shown {
    background-color: rgba(0, 0, 0, 0.1);

    @media only screen and (min-width: 800px) {
      background-color: white;
      box-shadow: $material-shadow-subtle;
    }
  }

  @media only screen and (min-width: 800px) {
    width: 100%;
  }

  .container {
    @media only screen and (min-width: 800px) {
      padding: 0;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
    }

    .header-logo {
      width: 40px;
      padding: 18px 0;
      margin: auto;
    }

    button.menu-button {
      padding: 18px 24px;

      position: absolute;
      right: 0;
      top: 20px;

      background: transparent;
      border: none;
      outline: none;

      @media only screen and (min-width: 800px) {
        visibility: hidden;
      }

      span.navicon {
        display: block;
        height: 3px;
        width: 28px;
        position: relative;
        transition: 0.3s ease-in-out;
        background-color: $menu-button-color;
        z-index: 100;
        border-radius: 5px;

        &:before, &:after {
          display: block;
          content: '';
          height: 100%;
          width: 100%;
          position: absolute;
          transition: 0.3s ease-in-out;
          background-color: $menu-button-color;
          border-radius: 5px;
        }

        &:before {
          top: 8px;
        }

        &:after {
          top: -8px;
        }
      }

      &.open {
        span.navicon {
          background-color: transparent;

          &:before, &:after {
            top: 0;
          }

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }
        }
      }
    }

    nav {
      display: block;
      position: absolute;
      top: -100vh;
      left: 0;
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 20px;

      opacity: 0;
      background-color: white;

      transition: 0.3s ease-in-out;

      @media only screen and (min-width: 800px) {
        padding: 12px 0;
        display: flex;
        position: inherit;
        top: unset;
        left: unset;

        opacity: 1;

        width: calc(100% - 80px);
        height: unset;

        background-color: unset;
      }

      &.open {
        opacity: 1;
        top: 0;
      }

      ul {
        margin: 0;
        width: 100%;

        @media only screen and (min-width: 800px) {
          display: flex;
          justify-content: flex-end;
          line-height: 20px;
        }

        li {
          list-style: none;
          margin: 16px 0;

          @media only screen and (min-width: 800px) {
            margin: 16px 0 16px 64px;
          }

          a {
            box-sizing: border-box;
            color: $ezac-dark-blue;
            font-weight: 100;
            text-transform: uppercase;
            font-size: 28px;
            transition: font-variation-settings 0.3s ease-in-out;

            @media only screen and (min-width: 800px) {
              font-size: 16px;
            }

            &.active {
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}
