@import 'src/styles/constants.scss';

.glider-container {
  margin: 0 4px 20px 4px;
  width: calc(33% - 8px);

  h3 {
    margin-bottom: 5px;
    font-size: 34px;
    color: $ezac-dark-blue;
    font-weight: bold;
  }

  h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: $ezac-blue;
    font-weight: 400;
  }

  .blueprint-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 148px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;
    overflow: hidden;

    cursor: pointer;

    img {
      width: 100%;
      transition: filter 0.3s ease-in-out;
    }

    &:hover, &.open {
      background-color: $ezac-blue;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}
