@import 'src/styles/constants.scss';

footer.footer {
  display: block;
  padding: 60px 20px;
  background-color: $ezac-pale-blue;
  color: $ezac-dark-blue;

  .wrapper {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 1300px;

    @media only screen and (min-width: 800px) {
      display: flex;
      justify-content: space-between;
    }
  }

  nav {
    display: none;
    margin-right: 120px;
    padding: 0 40px;

    @media only screen and (min-width: 800px) {
      display: block;
    }

    ul {
      li {
        margin: 20px 0;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 20px;

        &:first-child {
          margin-top: 0;
        }

        a, a:visited {
          font-weight: normal;
          color: $ezac-dark-blue;

          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .socials {
    display: flex;
    margin-top: 30px;

    h3 {
      margin-right: 15px;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 20px;
      line-height: 45px;
      color: $ezac-dark-blue;
      font-weight: bold;

      text-transform: uppercase;
    }

    @media only screen and (min-width: 800px) {
      margin-top: 0;
    }

    img {
      margin-right: 10px;
      width: 40px;
    }
  }

  .disclaimer {
    p {
      margin: 5px 0;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
