@import 'src/styles/constants.scss';

.container {
  padding: 40px 20px;

  &.no-spacing {
    padding: 0 20px;
  }

  &.red {
    background-color: $ezac-red;
    color: white;
  }

  &.light-blue {
    background-color: $ezac-bright-blue;
    color: white;
  }

  &.dark-blue {
    background-color: $ezac-dark-blue;
    color: white;
  }

  &.offset-from-top {
    padding-top: 120px;

    @media only screen and (min-width: 800px) {
      padding-top: 220px;
    }
  }

  .wrapper {
    @media only screen and (min-width: 800px) {
      margin: 0 auto;
      max-width: 980px;
    }
  }
}
