@import 'src/styles/constants.scss';

.page {
  display: block;
  margin-bottom: 50px;

  &.offset-from-top {
    padding-top: 60px;

    @media only screen and (min-width: 800px) {
      padding-top: 140px;
    }
  }

  .wrapper {
    padding: 20px;
    background-color: white;

    @media only screen and (min-width: 800px) {
      padding: 20px 50px;
      margin: 0 auto;
      max-width: 980px;
      box-shadow: $material-shadow-small;
    }
  }
}
